# Add third-party dependencies here
# Example:
# if (NOT TARGET taywee::args)
#     add_library(taywee::args INTERFACE IMPORTED GLOBAL)
#     target_include_directories(taywee::args INTERFACE ${CMAKE_CURRENT_SOURCE_DIR}/args)
# endif()
